/* App.css */

/* Стилі для всього додатку */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Стилі для контейнера */
.container {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  font-size: 16px;
}


/* Стилі для заголовка h1 */
h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase; /* Трансформація заголовка в ВЕЛИКІ ЛІТЕРИ */
}

/* Стилі для параграфів p */
p {
  color: #555;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  line-height: 1.6; /* Збільшення міжрядкового інтервалу */
  font-weight: bold; /* Товщина тексту */
}

